a {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

body{
    font-family: 'Open Sans', sans-serif;
}

nav{
	background-color: #E84D34;
	height: 80px;
}
nav img#brand{
	width: 150px;
}

nav .side-button li a{
	margin-top: 10px;
	margin-left: 10px;
	border-radius: 200px;
	width: 60px;
	height: 60px;
	text-align: center;
	vertical-align: middle;
}

nav .side-button li a:hover{
	background-color: #6D1B19;
}

section{
	min-height: 90vh;
}

section#sail{
	margin-top: 80px;
	background-color: #E84D34;
}

section#service{
	min-height: 100vh;
}

div#ship-box{
	background-size: 50%;
	background-image: url('../img/informaship.png');
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	position: relative;
}

h1, h2{
	font-weight: 800;
}

p{
	font-weight: 600;
	font-size: 18px
}

div#ship-box h1{
	color: white;
	margin-top: 67vh;
	margin-bottom: 3vh;
	clear: both;
	font-size: 48px;
}

div#expertise-box{
	color: #E84D34;
	vertical-align: middle;
	text-align: center;
}

div#expertise-box .feature{
	padding-top: 20px;
}

div#expertise-box .feature img{
	clear:both;
	width: 100px;
	padding-bottom: 10px;
}

div#service-container{
	background-size: 90%;
	background-image: url('../img/informaship-text-01.png');
	background-repeat: no-repeat;
	background-position: center;
	background-color: #CAD8D8;
	height: 100%;
	min-height: 90vh;
	position: relative;
}

div#service-box{
	height: 100%;
	padding-top: 35px;
	padding-left: 50px;
}

div#service-box h2{
	margin-bottom: 70px;
	font-size: 36px;
	font-weight: 1000;
}

div#service-box li{
	font-size: 24px;
	font-weight: 400;
	line-height: 36px;
	list-style: none;
}

div#service-box ul{
	margin-bottom: 30px;
	padding-left: 0;
}

div#work-box h1{
	font-size: 64px;
	line-height: 72px;
	color: #E84D34;
	margin-bottom: 60px;
}

div#work-box h5{
	font-size: 18px;
	line-height: 24px;
	color: #E84D34;
	margin-top: 24px;
}

div#work-box div.icon-box{
	margin-top: 24px;
}

div#work-box div.icon-box img{
	width: 80px;
	padding-right: 24px;
}



