.locations{
	bottom: 2%;
    font-size: 1.5em;
    left: auto;
    margin-left: 15%;
    text-align: center;
    width: 60%;
}

.banner{
	padding: 1.8em 0 2em;
}

.speaker-profile{
	width: 250px;
	height: 250px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 250px;
	margin: 0 auto;
	background-size: 100% auto;
}

.organizer-profile{
	width: 150px;
	height: 150px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 250px;
	margin: 0 auto;
}

.content-top {
    padding: 4em 0 2em;
}

.content-top1 img{
	margin: 0 auto;
	width: 300px;
	height: 300px;
	border-radius: 300px;
}


.content-top1{
	margin-bottom: 20%;
}

.content-plan{
	top: 88%;
	padding: 1.5em 2em 2em;
	bottom: auto;
}

.news center{
	color: orange; font-size:14pt; font-weight: bold; text-align: center;
	min-width:65px;
	width: 100%;
}

.news h4{
	margin: 0 auto;
}

.arrow-list i{
	margin-left: -1.5em;
    margin-right: 0.5em;
    padding-top: 0.1em;
}

.header-menu{
	border-bottom: 1px solid #fff;
	position: fixed;
	background: rgba(50, 50, 50, 0.5);
	z-index: 50000;
	width: 100vw;
	left: 0;
	padding-left: 35vw;
}

.logo img{
	margin: 1em auto 1.5em 23%;
}

.header{
	padding-bottom: 3%;
}

.access h5{
	color: #00b140;
	font-size: 1.5em;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 1px;
}

.access h4{
	color: #ff6900;
	font-size: 2em;
}

i.ic-up{
	background-position: 50% 50%;
	background-image: url('../images/circle-up.png');
}

i.ic-web{
	background-position: 50% 50%;
	background-image: url('../images/home.png');
}

i.ic-mail{
	background-position: 50% 50%;
	background-image: url('../images/mail4.png');
}

i.ic-fb{
	background-position: 50% 50%;
	background-image: url('../images/facebook2.png');
}

div.clearfix{
	height: 20px;
}

div.content-mid-img{
	background-image: url('../images/female.jpg');
}

div.content-mid-img1{
	background-image: url('../images/innovation.jpg');
}


ul.arrow-list li{
	list-style: outside none none;
	padding-left: 1em;
}

@media(max-width:1024px){
	.header-menu{
		padding: 0;
	}
}

@media(max-width:720px){
	.content-top1{
		margin-bottom: 30%;
	}
}

@media(max-width:600px){
	.header-menu{
		padding: 0 0 0 5%;
	}
	.content-top1{
		margin-bottom: 40%;
	}
}

@media(max-width:375px){
	.logo img{
		width:50%;
	}
}